src/test/resources/utskrift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Folksam (Folksam) -->
<xs:schema xmlns="http://www.folksam.se/schemas/j80/utskrift" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.folksam.se/schemas/j80/utskrift" version="1.10">
	<xs:element name="bunt" type="Bunt"/>
	<xs:complexType name="Bunt">
		<xs:sequence>
			<xs:element name="forsandelse" type="Forsandelse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Forsandelse">
		<xs:sequence>
			<xs:element name="aterbaringsbesked" type="Aterbaringsbesked" minOccurs="0"/>
			<xs:element name="tjanstepensionsbesked" type="Tjanstepensionsbesked" minOccurs="0"/>
			<xs:element name="brev" type="Brev" minOccurs="0"/>
			<xs:element name="bilagor" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bilaga" type="Bilaga" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="kuvertId" type="xs:string" use="required"/>
		<xs:attribute name="internmottagare" type="xs:string"/>
		<xs:attribute name="post" type="Post" use="required"/>
	</xs:complexType>
	<xs:complexType name="Dokument">
		<xs:sequence>
			<xs:element name="adressat" type="Adressat"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="datum" type="xs:date" use="required"/>
		<xs:attribute name="dokumenttyp" type="Dokumenttyp" use="required"/>
	</xs:complexType>
	<xs:complexType name="Aterbaringsbesked">
		<xs:sequence>
			<xs:element name="dokument" type="Dokument"/>
			<xs:element name="aterbaring" type="Aterbaring"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Post">
		<xs:restriction base="xs:string">
			<xs:enumeration value="APOST"/>
			<xs:enumeration value="BPOST"/>
			<xs:enumeration value="INTERNPOST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Bilaga">
		<xs:attribute name="referensnummer" type="xs:string" use="required"/>
		<xs:attribute name="bilagefack" type="Bilagefack" use="required"/>
	</xs:complexType>
	<xs:simpleType name="Bilagefack">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B1"/>
			<xs:enumeration value="B2"/>
			<xs:enumeration value="B3"/>
			<xs:enumeration value="B4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Adressat">
		<xs:sequence>
			<xs:element name="adress" type="Adress"/>
		</xs:sequence>
		<xs:attribute name="kundnummer" type="xs:string" use="required"/>
		<xs:attribute name="namn" type="xs:string" use="required"/>
		<xs:attribute name="minderarig" type="xs:boolean" use="required"/>
		<xs:attribute name="avliden" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="Adress">
		<xs:attribute name="co" type="xs:string"/>
		<xs:attribute name="utdelningsadress" type="xs:string" use="required"/>
		<xs:attribute name="postnummer" type="xs:string" use="required"/>
		<xs:attribute name="postadress" type="xs:string" use="required"/>
		<xs:attribute name="land" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Personreferens">
		<xs:attribute name="typ" type="Personreferenstyp" use="required"/>
		<xs:attribute name="varde" type="xs:string" use="required"/>
		<xs:attribute name="namn" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="Personreferenstyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PERSONNUMMER"/>
			<xs:enumeration value="ORGANISATIONSNUMMER"/>
			<xs:enumeration value="ADRESSID"/>
			<xs:enumeration value="SKYDDADADRESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dokumenttyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATERBARINGSBESKED"/>
			<xs:enumeration value="FORSAKRINGSBESKED"/>
			<xs:enumeration value="BREV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Tjanstepensionsbesked">
		<xs:sequence>
			<xs:element name="dokument" type="Dokument"/>
			<xs:element name="tjanstepensionsavtal" type="Tjanstepensionsavtal"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Nedan är inklippt från brev-j80 0.50 med arv ersatt av inklusion -->
	<xs:complexType name="Brev">
		<xs:sequence>
			<xs:element name="dokument" type="Dokument"/>
			<xs:element name="inflyttatKapital" type="InflyttatKapital" minOccurs="0"/>
			<xs:element name="fonduppgifter" type="Fonduppgifter" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="forsakringsgivare" type="Forsakringsgivare" use="required"/>
		<xs:attribute name="brevtyp" type="Brevtyp" use="required"/>
	</xs:complexType>
	<xs:simpleType name="Brevtyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VALKOMSTBREV_FOND"/>
			<xs:enumeration value="VALKOMSTBREV_TRAD"/>
			<xs:enumeration value="INFLYTTSBEKRAFTELSE_FOND"/>
			<xs:enumeration value="INFLYTTSBEKRAFTELSE_TRAD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InflyttatKapital">
		<xs:attribute name="belopp" type="xs:integer" use="required"/>
		<xs:attribute name="valuta" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Fonduppgifter">
		<xs:sequence>
			<xs:element name="fond" type="Fond" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="totaltVarde" type="xs:decimal"/>
	</xs:complexType>
	<xs:complexType name="Fond">
		<xs:attribute name="fondnamn" type="xs:string" use="required"/>
		<xs:attribute name="fondfordelning" type="xs:decimal" use="required"/>
		<xs:attribute name="antalAndelar" type="xs:string"/>
		<xs:attribute name="kurs" type="xs:string"/>
		<xs:attribute name="kursdatum" type="xs:date"/>
		<xs:attribute name="marknadsvarde" type="xs:decimal"/>
	</xs:complexType>
	<!-- Nedan är kopierat ur forsakringsbeskedliv-j80 v0.72 med arv ersatt av inklusion -->
	<xs:complexType name="Tjanstepensionsavtal">
		<xs:sequence>
			<xs:element name="forsakringsavtalLiv" type="ForsakringsavtalLiv"/>
			<xs:element name="utbetalningstid" type="Utbetalningstid" minOccurs="0"/>
			<xs:element name="garantitid" type="Garantitid" minOccurs="0"/>
			<xs:element name="formanstagarforordnande" type="Formanstagarforordnande" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="alderspension" type="xs:boolean" use="required"/>
		<xs:attribute name="aterbetalningsskydd" type="xs:boolean" use="required"/>
		<xs:attribute name="premietyp" type="Premietyp" use="required"/>
		<xs:attribute name="forvaltningsform" type="Forvaltningsform" use="required"/>
		<xs:attribute name="ursprungligtForsakringsnummer" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ForsakringsavtalLiv">
		<xs:sequence>
			<xs:element name="forsakringstagare" type="Personreferens"/>
			<xs:element name="forsakrad" type="Personreferens"/>
			<xs:element name="forsakringsvillkor" type="Forsakringsvillkor"/>
		</xs:sequence>
		<xs:attribute name="forsakringsnummer" type="xs:string" use="required"/>
		<xs:attribute name="forsakringshandelse" type="Forsakringshandelse" use="required"/>
		<xs:attribute name="forsakringsgivare" type="Forsakringsgivare" use="required"/>
		<xs:attribute name="samarbetspartner" type="Samarbetspartner"/>
		<xs:attribute name="samarbetsform" type="Samarbetsform"/>
		<xs:attribute name="helarspremie" type="xs:decimal"/>
		<xs:attribute name="skattekategori" type="Skattekategori" use="required"/>
	</xs:complexType>
	<xs:complexType name="Utbetalningstid">
		<xs:attribute name="livsvarigt" type="xs:boolean" use="required"/>
		<xs:attribute name="startdatum" type="xs:date" use="required"/>
		<xs:attribute name="slutdatum" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="Garantitid">
		<xs:attribute name="antalAr" type="xs:int" use="required"/>
		<xs:attribute name="startdatum" type="xs:date"/>
		<xs:attribute name="slutdatum" type="xs:date"/>
	</xs:complexType>
	<xs:simpleType name="Forsakringsgivare">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FOLKSAM_LIV"/>
			<xs:enumeration value="FOLKSAM_FOND"/>
			<xs:enumeration value="FOLKSAM_SAK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Forvaltningsform">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FOND"/>
			<xs:enumeration value="TRAD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Samarbetspartner">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAX_MATTHIESSEN"/>
			<xs:enumeration value="SODERBERG_PARTNERS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Samarbetsform">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EGET_VARUMARKE"/>
			<xs:enumeration value="CO_BRANDED"/>
			<xs:enumeration value="WHITE_LABEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Premietyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRODUKTLEVERANTOR"/>
			<xs:enumeration value="PLANLEVERANTOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Forsakringshandelse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NYTACKNING"/>
			<xs:enumeration value="FORNYELSE"/>
			<xs:enumeration value="ANDRING"/>
			<xs:enumeration value="OMFATTNINGSANDRING"/>
			<xs:enumeration value="ANDRAT_BETALSATT"/>
			<xs:enumeration value="ANDRAD_FOLKBOKFORINGSADRESS"/>
			<xs:enumeration value="PREMIEJUSTERING"/>
			<xs:enumeration value="NYTT_FORSAKRINGSBESKED"/>
			<xs:enumeration value="AVSTALLNING"/>
			<xs:enumeration value="PRODUKTBYTE"/>
			<xs:enumeration value="PASTALLNING"/>
			<xs:enumeration value="FLERA_ANDRINGAR"/>
			<xs:enumeration value="ATERBARING"/>
			<xs:enumeration value="PA_BEGARAN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Forsakringsvillkor">
		<xs:attribute name="villkorsnummer" type="xs:string" use="required"/>
		<xs:attribute name="villkorsdatum" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="Formanstagarforordnande">
		<xs:attribute name="typ" type="Formanstagarforordnandetyp" use="required"/>
		<xs:attribute name="fritext" type="xs:string"/>
		<xs:attribute name="forfoganderatt" type="xs:boolean"/>
	</xs:complexType>
	<xs:simpleType name="Formanstagarforordnandetyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEN_FORSAKRADE"/>
			<xs:enumeration value="MAKE_BARN"/>
			<xs:enumeration value="BARN_MAKE"/>
			<xs:enumeration value="FEMTIO_FEMTIO"/>
			<xs:enumeration value="FRITEXT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Skattekategori">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TJANSTEPENSION"/>
			<xs:enumeration value="KAPITALFORSAKRING"/>
			<xs:enumeration value="PENSION"/>
			<xs:enumeration value="KAPITALPENSION"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Nedan är kopierat ur aterbaringsbesked-j80 v1.04 -->
	<xs:complexType name="Aterbaring">
		<xs:sequence>
			<xs:element name="avtalsaterbaring" type="Avtalsaterbaring" maxOccurs="unbounded"/>
			<xs:element name="avtalsaterbaringOvriga" type="AvtalsaterbaringOvriga" minOccurs="0"/>
			<xs:element name="rabatter" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rabatt" type="Rabatt" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="aterbaringsar" type="xs:string" use="required"/>
		<xs:attribute name="aterbaringProcent" type="xs:string" use="required"/>
		<xs:attribute name="totaltSaldo" type="DoubleString" use="required"/>
	</xs:complexType>
	<xs:complexType name="Avtalsaterbaring">
		<xs:attribute name="periodStartdatum" type="xs:date" use="required"/>
		<xs:attribute name="periodSlutdatum" type="xs:date" use="required"/>
		<xs:attribute name="periodpremie" type="DoubleString" use="required"/>
		<xs:attribute name="aterbaringssaldo" type="DoubleString" use="required"/>
		<xs:attribute name="produktnamn" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="AvtalsaterbaringOvriga">
		<xs:attribute name="aterbaringssaldo" type="DoubleString" use="required"/>
	</xs:complexType>
	<xs:complexType name="Rabatt">
		<xs:attribute name="typ" type="Rabattyp" use="required"/>
		<xs:attribute name="belopp" type="DoubleString" use="required"/>
	</xs:complexType>
	<xs:simpleType name="Rabattyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KOMBIRABATT"/>
			<xs:enumeration value="GRON_OCH_SAKER"/>
			<xs:enumeration value="SAKER_OCH_MILJOVANLIG"/>
			<xs:enumeration value="BOENDEFORMSRABATT"/>
			<xs:enumeration value="MEDLEMSRABATT"/>
			<xs:enumeration value="ANSTALLD"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Dessa används för Återbäringsbeskedet men bör refactoreras bort vid tillfälle -->
	<xs:simpleType name="DoubleString">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+,\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BooleanString">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
